img{
    height: 500px;
}

.loginbox {
    margin-top: 50px;
    padding: 50px;
    background-color: #00000073;
   border-radius: 25px;
   font-size: 152px  ;
   span{
    font-size: 17px;
   }
   #log{
    text-align: center;
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
   }
   a{
    font-size: 17px;
    color: white;
    float: right;
    
   }
    
}